<footer>
  <div class="footer">
    <div class="container">
      <div class="intro_text">
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br>
          The Data Sonification Archive is under a <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA license</a>. Please reference this page if you reuse it:<br>
          Lenzi S., Ciuccarelli P., Liu H., Hua Y. 2020. Data Sonification Archive. http://www.sonification.design.</p>
      </div>
      </div>
    </div>
</footer>
