<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- MetaData -->
  <meta property="og:image" content="{{ site.baseurl }}/assets/metadata/sonification.jpg"/>
  <meta itemprop="thumbnailUrl" content="{{ site.baseurl }}/assets/metadata/sonification.jpg"/>
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/metadata/sonification.jpg"/>
  <meta name="twitter:url" content="https://designforemergency.org"/>
  <meta name="citation_title" content="Data Sonification Archive" />
  <meta name="citation_author" content="Lenzi, Sara" />
  <meta name="citation_author" content="Ciuccarelli, Paolo" />
  <meta name="citation_author" content="Liu, Houjiang" />
  <meta name="citation_author" content="Hua, Yuan" />
  <meta name="citation_publication_date" content="2021" />
  <meta name="citation_fulltext_html_url" content="https://sonification.design/" />
  <meta name="citation_abstract"
    content="This curated collection is part of a broader research endeavor in which data, sonification and design converge to explore the potential of sound in complementing other modes of representation and broadening the publics of data. With visualization still being one of the prominent forms of data transformation, we believe that sound can both enrich the experience of data and build new publics.">
  <!-- Title -->
  <title>Data Sonification Archive</title>
  <!-- CSS -->
  <link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.css">
  <link href="{{ site.baseurl }}/assets/css/font.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/bulma.min.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/formValidation.min.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/logo.jpg" />

  <!-- Script -->
  <script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js"></script>
  <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}/assets/js/FormValidation.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/Bulma.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/script.js"></script>
  {% if site.google_analytics and jekyll.environment == 'production' %}
  {% include analytics.html %}
  {% endif %}
</head>

<body>
  <!-- <div class="pageloader is-black" style="background-color:#161521">
    <span class="title">Sonification</span>
  </div> -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8M7W86" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="intro">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="nav_menu">
          <div class="navbar-nav">
            <a href="{{ site.baseurl }}/" class="nav-item">
              ARCHIVE
            </a>
            <a href="{{ site.baseurl }}/resource.html" class="nav-item">
              RESOURCE
            </a>
            <a href="{{ site.baseurl }}/metadata.html" class="nav-item">
              METADATA
            </a>
            <a href="{{ site.baseurl }}/about.html" class="nav-item">
              ABOUT
            </a>
            <a href="{{ site.baseurl }}/submit.html" class="nav-item">
              SUBMIT
            </a>
            <a class="nav-item icon" href="https://twitter.com/datasonif" target="_blank" title="Twitter"> <i class="fab fa-twitter" aria-hidden="true"></i> </a>
          </div>
        </div>
      </nav>
    </div>
  </div>

</body>

<script type="text/javascript">
  // if ($('.pageloader').length) {
  //   $('.pageloader').toggleClass('is-active');
  //   $(window).on('load', function(){
  //     var pageloaderTimeout = setTimeout(function(){
  //       $('.pageloader').toggleClass('is-active');
  //       clearTimeout(pageloaderTimeout);
  //     }, 500);
  //   });
  // }
  NProgress.set(0.0);
  NProgress.configure({
    easing: 'easein',
    speed: 1000
  });
  NProgress.set(1.0);
</script>
