{% if data.COVID19 != nil %}
<span class="tag button is-light">COVID19</span>
{% endif %}
<!-- {% if data.Topic_new != nil %}
<span class="tag button is-light">{{ data.Topic_new }}</span>
{% endif %} -->
{% if data.Type != nil %}
<span class="tag button is-light">{{ data.Type }}</span>
{% endif %}
<!-- {% if data.Type != nil %}
<span class="tag button is-light allType">{{ data.Type }}</span>
{% endif %} -->
{% if data.Goal != nil %}
<span class="tag button is-light">{{ data.Goal }}</span>
{% endif %}
{% if data.Sonification_Art_Blog != nil %}
<span class="tag button is-light">Sonification Art Blog</span>
{% endif %}
{% if data.Subtopic_1 == "Astronomy" %}
<span class="tag button is-light">Astronomy</span>
{% endif %}
{% if data.Topic_new == "Climate Change" %}
<span class="tag button is-light">Climate Change</span>
{% endif %}
