@font-face {
    font-family: "Playfair Bold";
    src: url(fonts/PlayfairDispaly/PLAYFAIRDISPLAY-BOLD.otf);
}
@font-face {
    font-family: "Playfair Italic";
    src: url(fonts/PlayfairDispaly/PLAYFAIRDISPLAY-ITALIC.otf);
}
@font-face {
    font-family: "Roboto Light-Italic";
    src: url(fonts/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: "Roboto Bold";
    src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto Regular";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "Roboto Italic";
    src: url(fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: "Roboto Light";
    src: url(fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto Thin";
    src: url(fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: "Baskerville Italic";
    src: url(fonts//Baskerville/Baskerville-Italic-BT.ttf);
}
@font-face {
    font-family: "Gill Sans MT";
    src: url(fonts//GillSansMT/Gill-Sans-MT.ttf);
}
