body {
	font-family: "Roboto Regular";
	color: black;
}

/*navbar-----------------------*/

.intro {
  width: 100%;
  height: 350px;
  background-color: #161521;
  position: absolute;
  /* padding: 10px 0; */
  /* z-index: 99; */
}
.navbar {
  margin-top:30px;
  background-color: #161521;
}
.nav_menu {
  width: 100%;
  height: 40px;
  background-color: #161521;
}
.navbar-nav {
  float:right;
  text-align: right;
  color: #ffffff;
  margin-right: 40px;
}
.nav-item {
  margin: 0 0 0 28px;
  font-family: "Roboto Regular";
  font-size: 12px;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
a:link {
  color: rgba(255,255,255,0.5);
}
a:hover {
  color: rgba(255,255,255,255);
}

.intro_text {
  width: 100%;
  height: 500px;
  padding: 0 0.5rem;
  text-align: left;
}
.intro_text h1 {
  font-family: "Roboto Bold";
  font-size: 2rem;
  color: white;
  text-align: left;
  z-index: 2;
}

.intro_text h2 {
  font-family: "Roboto Bold";
  font-size: 1rem;
  color: white;
  text-align: left;
  z-index: 2;
}

.intro_text p {
  font-family: "Roboto Light";
  /* width: 35rem; */
  font-size: 0.8rem;
  color: white;
  opacity: 0.7;
  text-align: left;
  margin-top: 20px;
  z-index: 2;
}
.hero {
  width: 100%;
  position: relative;
  padding-top: 100px;
}
.bg_img {
  margin-top: -200px;
  max-width: 100%;
  left: 120%;
  position: relative;
  opacity: 0.4;
  /* z-index: 0; */
}

/* metadata--------------------*/

.metadata {
  margin-top: 10px;
}

/* project---------------------*/

.flow {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.flow > [class*="flow"] {
	position: relative;
	margin-bottom: 1em;
	padding: 0;
	width: 100%;
}

.flow > [class*="flow"] *:first-child {
	margin-top: 0;
}

/*project layout-----------------------------------------*/

.projects {
  padding-top: 350px;
}

.project-list {
  padding: 3rem 0;
}

.project-body {
	position: relative;
}

.project-body img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 700px) {
	.flow > [class*="flow"] {
		padding: 0.5em 0.5em;
	}
  .flow > .flow-project {
    width: 33.33%;
  }
	.flow > .flow-half {width: 50%;}
	.flow > .flow-three {width: 33.3%;}
  .flow > .flow-three-one {width: 66.6%;}
	.flow > .flow-push {margin-left: 50%;width: 50%;}
	.flow >	.flow-full {width: 100%;}
}

@media screen and (min-width: 1000px) {
	.flow > .flow-project {
		width: 25%;
	}
}

/*typography----------------------------------------*/

.project-title h2 {
  color: black;
  padding-top: 10px;
	font-size: 14px;
	font-weight: bold;
  line-height: 1.2;
}

.project-title h3 {
  color: black;
  padding-top: 5px;
	font-size: 10px;
  font-weight: lighter;
}

/* footer-------------------------------------------*/

.footer {
  width: 100%;
  height: 100px;
  background-color: #161521;
}
.footer li {
  padding: 0.5rem 0;
  color: white;
}
.footer i {
  color: white;
}
