{% include header.html %}

<div class="intro">
  <div class="container">
    <div class='intro_text flow'>
      <div class="flow-three-one">
        <div class="hero">
          <h1>Data Sonification Archive</h1>
          <p class='desc'>
            This curated collection is part of a broader research endeavor in which data, sonification and design converge to explore the potential of sound in complementing other modes of representation and broadening the publics of data. With visualization still being one of the prominent forms of data transformation, we believe that sound can both enrich the experience of data and build new publics.
          </p>
        </div>
        <!-- <img src="{{ site.baseurl }}/assets/img/bg.jpg" class="bg_img"> -->
      </div>
    </div>
  </div>
</div>

<div class='projects'>
  <div class="container">
    <div class="filters"></div>
    <div class="images flow project-list">
      {% assign years = site.data.data | group_by: "Year" %}
      <!-- {% assign yearsSorted = years | sort: "name" %} -->
      {% for yearsorted in years %}
      {% assign y = yearsorted.items | sort: "Author" %}
      {% for data in y %}
      <div class="flow-project">
        <div class="prject-body">
          <a class="project-title show-Modal">
            <figure class="image is-5by3">
              {% if data.Picture != nil %}
                <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/default.jpg">
              {% else %}
                <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/{{ data.Title }}.png">
              {% endif %}
            </figure>
            <div>
              <h2>{{ data.Title }}</h2>
              <h3>
                {{ data.Author }}
                {% if data.Year != nil %}
                | {{ data.Year }}
                {% endif %}
              </h3>
              <div class="metadata">
                {% include projectmetadata.html %}
              </div>
            </div>
          </a>
          <div class="modal modal-fx-slideRight hide">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="modal-card-title">
                <h1>{{ data.Title }}</h1>
                <h2>
                  {{ data.Author }}
                  {% if data.Year != nil %}
                  | {{ data.Year }}
                  {% endif %}
                </h2>
              </div>
              <figure class="image is-5by3"">
                {% if data.Picture != nil %}
                  <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/default.jpg">
                {% else %}
                  <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/{{ data.Title }}.png">
                {% endif %}
              </figure>
              <div class="columns">
                <div class="column">
                  <h3>Topic</h3>
                  <p>{{ data.Topic }}</p>
                </div>
                <div class="column">
                  <h3>Goal</h3>
                  <p>{{ data.Goal }}</p>
                </div>
                <div class="column">
                  <h3>User</h3>
                  <p>{{ data.User }}</p>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <h3>Type of Sonification</h3>
                  <p>{{ data.Type }}</p>
                </div>
                <div class="column">
                  <h3>Media Mix</h3>
                  <p>{{ data.Media_Mix }}</p>
                </div>
                <div class="column">
                </div>
              </div>
              <div class="modal-content-footer">
                <a href="{{ data.Link }}" target="_blank">link to sonification</a>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  // $(".showModal").click(function() {
  //   $(".modal").addClass("is-active");
  //   $("html").addClass("is-clipped");
  // });
  //

  $(document).ready(function() {
    $("a.show-Modal").on("click", function() {
      // console.log("clicked");
      $(this).next().removeClass("hide");
      $(this).next().addClass("is-active");
      // $(this).next().addClass("modal-fx-slideRight");
      $("html").addClass("is-clipped");
    });
  });
  $(".modal-close").click(function() {
    $(".modal").removeClass("is-active");
    // $(".modal").removeClass("modal-fx-slideRight");
    $("html").removeClass("is-clipped");
  });
</script>

{% include footer.html %}
