{% include header.html %}

<div class="intro">
  <div class="container">
    <div class='intro_text flow'>
      <div style="justify-content: center; display: flex; text-align: center;">
        <div id="font-page-hero" class="hero" style="width: 80%;">
          <h1>Data Sonification Archive</h1>
          <!-- <h1>Data Sonification Archive</h1> -->
          <p class='desc'>
            This curated collection is part of a broader research endeavor in which data, sonification and design
            converge to explore the potential of sound in complementing other modes of representation and broadening the
            publics of data. With
            visualization still being one of the prominent forms of data transformation, we believe that sound can both
            enrich the experience of data and build new publics.
          </p>
          <p> <a href="{{ site.baseurl }}/about.html">LEARN MORE</a></p>
          
        </div>
        <!-- <img src="{{ site.baseurl }}/assets/img/bg.jpg" class="bg_img"> -->
      </div>
    </div>
  </div>
</div>

<div class='projects'>

  <div class="container">

    <a href=""><button class="button is-rounded is-info" id="backTotop"><i class="fas fa-arrow-up"></i></button></a>
    <div class="filter_bar">
      <div id="toggleFilter_desktop">
        <button id="toggleFilter" class="button custom-text-button is-small is-info" >FILTER</button>
      </div>
      <div class="tags has-addons">
        <span class="tag is-dark">cases</span>
        <span class="tag is-info" id="counter"></span>
      </div>
    </div>
    
    <div class="columns">

      <!-- Mobile sidebar toggle button - always visible on small screens -->
      <div class="mobile-toggle is-hidden-desktop">
        <button id="sidebarToggle" class="button is-info">
          <span class="icon"><i class="fas fa-filter"></i></span>
          <span>Filters</span>
        </button>
      </div>
      
      <!-- Sidebar menu -->
       <div class="column is-one-fifth is-hidden sidebar-container" id="filterMenu">
        <aside class="menu sidebar">
          <p class="menu-label">Search</p>
          <ul class="menu-list">
            <li>
              <div class="field has-addons">
                <div class="control is-expanded has-icons-right">
                  <input id="mySearch" class="input is-small" type="text" placeholder="Search">
                  <span id="searchDelete" class="icon is-small is-right is-invisible">
                    <button class="delete is-small"></button>
                  </span>
                </div>
                <div class="control">
                  <button id="applySearch" class="button is-small is-info">
                    <span class="icon"><i class="fas fa-search"></i></span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <p class="menu-label">Special collection</p>
          <ul class="menu-list checkboxes">
            <!-- <li>
              <label class="checkbox">
                <input type="checkbox" class="filters-select special-item" value="Awards" /> Sonification award
              </label>
            </li> -->
            <li>
              <label class="checkbox">
                <input type="checkbox" class="filters-select special-item" value="Art_Blog" /> Sonification art blog
              </label>
            </li>
          <p class="menu-label">Topic</p>
          <ul class="menu-list checkboxes">
                  {% assign topics = site.data.dataWITHAWARDED | map: "Subtopic_1" | uniq | sort %}
                  {% for item in topics %}
                  <li>
                    <label class="checkbox">
                      <input type="checkbox" class="filters-select topic-item" value="{{ item }}" /> {{ item }}
                    </label>
                  </li>
                  {% endfor %}
          </ul>
          <p class="menu-label">Goal</p>
          <ul class="menu-list checkboxes">
                  {% assign goals = site.data.dataWITHAWARDED | map: "Goal_Primary" | uniq %}
                  {% for item in goals %}
                  <li>
                    <label class="checkbox">
                      <input type="checkbox" class="filters-select topic-item" value="{{ item }}" /> {{ item }}
                    </label>
                  </li>
                  {% endfor %}
          </ul>
      
          <p class="menu-label">Method</p>
          <ul class="menu-list checkboxes">
                  {% assign methods = site.data.dataWITHAWARDED | map: "Method" | uniq %}
                  {% for item in methods %}
                  <li>
                    <label class="checkbox">
                      <input type="checkbox" class="filters-select topic-item" value="{{ item }}" /> {{ item }}
                    </label>
                  </li>
                  {% endfor %}
          </ul>
        </aside>
       </div>
  
      <!-- display -->
       <div class="column">
        <div class="images flow project-list">
          {% assign years = site.data.dataWITHAWARDED | group_by: "Year" %}
          {% for yearsorted in years %}
          {% assign y = yearsorted.items | sort: "Author" %}
          {% for data in y %}
          <div class="flow-project {{ data.Subtopic_1 }} {{ data.Goal_Primary }} {{ data.Year }} {{ data.Method }} {{data.Awards}} {{data.Art_Blog}}">
            <div class="project-body">
              <a class="project-title show-Modal">
                <figure class="image is-5by3">
                  {% if data.Picture != nil%}
                  <div class="figure-container">
                    <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/default.jpg">
                    <!-- <div class="{% if data.Awards %} diagonal-tag{% endif %}">
                      {% if data.Awards %}
                      <p class="text-rotate">Award</p>
                      {% endif %}
                    </div> -->
                  </div>
                  {% else %}
                  <div class="figure-container">
                    <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/{{ data.Picture_name }}.png">
                    <!-- <div class="{% if data.Awards %} diagonal-tag{% endif %}">
                      {% if data.Awards %}
                      <p class="text-rotate">Award</p>
                      {% endif %}
                    </div> -->
                  </div>
                  {% endif %}
                </figure>
                <div>
                  <h2>{{ data.Title }}</h2>
                  <h3>
                    {{ data.Author }}
                    {% if data.Year != nil %}
                    | {{ data.Year }}
                    {% endif %}
                  </h3>
                </div>
              </a>
              <div class="modal modal-fx-slideRight hide" id="{{ data.URL }}">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <div class="modal-card-title">
                    <h1>{{ data.Title }}</h1>
                    <h2>
                      {{ data.Author }}
                      {% if data.Year != nil %}
                      | {{ data.Year }}
                      {% endif %}
                    </h2>
                  </div>
                  <figure class="image is-5by3">
                    {% if data.Picture != nil%}
                    <div>
                      <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/default.jpg">
                      <!-- <div class="{% if data.Awards %} diagonal-tag{% endif %}">
                        {% if data.Awards %}
                        <p class=" text-rotate">Award</p>
                        {% endif %}
                      </div> -->
                    </div>
                    {% else %}
                    <div>
                      <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/{{ data.Picture_name }}.png">
                      <!-- <div class="{% if data.Awards %} diagonal-tag{% endif %}">
                        {% if data.Awards %}
                        <p class=" text-rotate">Award</p>
                        {% endif %}
                      </div> -->
                    </div>
                    {% endif %}
                  </figure>
                  <p>{{ data.Description }}</p>
                  <div class="attrs">
                    <!-- <div class="attr">
                      <p>{{ data.Description }}</p>
                    </div> -->
                    <div class="attr">
                      <h3>Topic</h3>
                      <p>{{ data.Topic }}</p>
                    </div>
                    <div class="attr">
                      <h3>Goal</h3>
                      <p>{{ data.Goal_Primary }}</p>
                    </div>
                    <div class="attr">
                      <h3>User</h3>
                      <p>{{ data.User }}</p>
                    </div>
                    <div class="attr">
                      <h3>Type of Sonification</h3>
                      <p>{{ data.Method }}</p>
                    </div>
                    <!-- <div class="attr">
                      <h3>Media Mix</h3>
                      <p>{{ data.Media_Mix }}</p>
                    </div> -->
                  </div>
                  <div class="modal-content-footer">
                    <i style="color:white" class="far fa-hand-point-right"></i>
                    <a href="{{ data.Link }}" target="_blank">link to sonification</a>
                    <br>
                    {% if data.Link_to_Sonification_Art_Blog != nil %}
                    <i style="color:white" class="far fa-hand-point-right"></i>
                    <a href="{{ data.Link_to_Sonification_Art_Blog }}" target="_blank">link to Sonification Art Blog</a>
                    {% endif %}
                  </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <span class="tags metadata">
                {% include projectmetadata.html %}
              </span>
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
       </div>
  
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/main.js"></script>

{% include footer.html %}