{% include header.html %}

<div class="intro">
  <div class="container">
    <div class='intro_text flow'>
      <div class="flow-three-one">
        <div class="hero">
          <h1>Data Sonification</h1>
          <p class='desc'>Description of the intent and introduction of this project. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.</p>
        </div>
        <!-- <img src="{{ site.baseurl }}/assets/img/bg.jpg" class="bg_img"> -->
      </div>
    </div>
  </div>
</div>

<div class='projects'>
  <div class="container">
    <div class="filters"></div>
    <div class="images flow project-list">
      {% assign years = site.data.data | group_by: "Year" %}
      <!-- {% assign yearsSorted = years | sort: "name" %} -->
      {% for yearsorted in years %}
      {% assign y = yearsorted.items | sort: "Author" %}
      {% for data in y %}
      <div class="flow-project">
        <div class="prject-body">
          <a class="project-title show-Modal">
            <figure class="image is-5by3">
              <img class="img-responsive center-block" src="{{ site.baseurl }}/assets/img/{{ data.Title }}.png">
            </figure>
            <div>
              <h2>{{ data.Title }}</h2>
              <h3>
                {{ data.Author }}
                {% if data.Year != nil %}
                | {{ data.Year }}
                {% endif %}
              </h3>
              <div class="metadata">
                {% include projectmetadata.html %}
              </div>
            </div>
          </a>
          <div class="modal hide">
            <div class="modal-background"></div>
            <div class="modal-content">
                <h1>{{ data.Title }}</h1>
              <section>
                <p>{{ data.Author }}</p>
              </section>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  // $(".showModal").click(function() {
  //   $(".modal").addClass("is-active");
  //   $("html").addClass("is-clipped");
  // });
  //

  $(document).ready(function() {
    $("a.show-Modal").on("click", function() {
      // console.log("clicked");
      $(this).next().removeClass("hide");
      $(this).next().addClass("is-active");
      $("html").addClass("is-clipped");
    });
  });
  $(".modal-close").click(function() {
    $(".modal").removeClass("is-active");
    $("html").removeClass("is-clipped");
  });
</script>

{% include footer.html %}
